@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('hinted-DejaVuSansMono.eot');
    src: local('DejaVu Sans Mono'), local('DejaVuSansMono'),
        url('hinted-DejaVuSansMono.eot?#iefix') format('embedded-opentype'),
        url('hinted-DejaVuSansMono.woff2') format('woff2'),
        url('hinted-DejaVuSansMono.woff') format('woff'),
        url('hinted-DejaVuSansMono.ttf') format('truetype'),
        url('hinted-DejaVuSansMono.svg#DejaVuSansMono') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('hinted-DejaVuSansMono-BoldOblique.eot');
    src: local('DejaVu Sans Mono Bold Oblique'), local('DejaVuSansMono-BoldOblique'),
        url('hinted-DejaVuSansMono-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('hinted-DejaVuSansMono-BoldOblique.woff2') format('woff2'),
        url('hinted-DejaVuSansMono-BoldOblique.woff') format('woff'),
        url('hinted-DejaVuSansMono-BoldOblique.ttf') format('truetype'),
        url('hinted-DejaVuSansMono-BoldOblique.svg#DejaVuSansMono-BoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('hinted-DejaVuSansMono-Oblique.eot');
    src: local('DejaVu Sans Mono Oblique'), local('DejaVuSansMono-Oblique'),
        url('hinted-DejaVuSansMono-Oblique.eot?#iefix') format('embedded-opentype'),
        url('hinted-DejaVuSansMono-Oblique.woff2') format('woff2'),
        url('hinted-DejaVuSansMono-Oblique.woff') format('woff'),
        url('hinted-DejaVuSansMono-Oblique.ttf') format('truetype'),
        url('hinted-DejaVuSansMono-Oblique.svg#DejaVuSansMono-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('hinted-DejaVuSansMono-Bold.eot');
    src: local('DejaVu Sans Mono Bold'), local('DejaVuSansMono-Bold'),
        url('hinted-DejaVuSansMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('hinted-DejaVuSansMono-Bold.woff2') format('woff2'),
        url('hinted-DejaVuSansMono-Bold.woff') format('woff'),
        url('hinted-DejaVuSansMono-Bold.ttf') format('truetype'),
        url('hinted-DejaVuSansMono-Bold.svg#DejaVuSansMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

